div{
    color: white;
    font-size: 35px;
    font-family: 微軟正黑體;
    font-weight: strong;
    text-align: center;
    float: left;
    line-height: 50px;
    padding: 2%;
    
}
*{
box-sizing: border-box
}
.header{
    background: lightblue;
    width: 100%;
    
}
.nav{
    background: #ffd800;
    width: 100%
}

.sidebar{
    width:25%;
    height: 350px;
    background: navy;
    line-height: 350px;
}

.main{
    width:75%;
    height: 350px;
    background: green;
    line-height: 350px;
}

.footer{
    width:100%;
    height: 150px;
    background: orange;
    line-height: 100px;
}


.nav1>li{
    display: inline-block;
    border: 1px solid green;
}

.submenu{
    background: #eee;
}


.nav1>li{
    display: inline-block;
    border: 1px solid green;
    position: relative;
    width: 30%;
    margin-left: -5px;
    text-align: center;
    background: red;
    
}

li{
    cursor:pointer;
}

.submenu{
    background: #eee;
    position: absolute;
    left: -1px; 
    top: 100%; 
    width: 101%;
    padding: 0;
    display: none;
}

.submenu li{
    list-style: none;
}

.nav1>li:hover .submenu{
    display: block;
}

.submenu>li:hover{
    background: #eee;
    color: #aaa;
}

.fixed {
    height: 100px;
    width: 100px;
    background: #ff9d00;
    position: fixed;
    left: 93%;
    top: 85%;
/*    text-align: center;*/
    line-height: 35px;
    font-size: 20px;
/*    color: #191919;*/
    border-radius: 50%;
}

























